.container
	.column.span-24.last
		%h1
			%a{:href=>"/energy"} Energy Comparisons
			&rarr; Residential
	.column.span-8
		%h2 Total Energy
		%table
			%thead
				%tr
					%th Local Council
					%th
						%abbr{:title=>"kilowatt hours"} kWh
			%tbody
				- @lgas.sort{|x,y| y.total_residential_energy <=> x.total_residential_energy}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.total_residential_energy

	.column.span-8
		%h2 Total Energy per Resident
		%table
			%thead
				%tr
					%th Local Council
					%th
						%abbr{:title=>"kilowatt hours"} kWh
						= "/ resident"
			%tbody
				- @lgas.sort{|x,y| (y.total_residential_energy / y.population) <=> (x.total_residential_energy / x.population)}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.total_residential_energy / lga.population
	.column.span-8.last
		%h2 Total Energy per Customer
		%table
			%thead
				%tr
					%th Local Council
					%th
						%abbr{:title=>"kilowatt hours"} kWh
						= "/ Customer"
			%tbody
				- @lgas.sort{|x,y| (y.total_residential_energy / y.residential_customers) <=> (x.total_residential_energy / x.residential_customers)}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.total_residential_energy / lga.residential_customers
