.container
	.column.span-24.last
		%h1
			%a{:href=>"/energy"} Energy Comparisons
			&rarr;
			%a{:href=>"/energy/residential"} Residential
			&rarr; Hot Water
	.column.span-12
		%h2 Total Energy
		%table
			%thead
				%tr
					%th Local Council
					%th
						Total Energy
						(
						%abbr{:title=>"kilowatt hours"} kWh
						)
			%tbody
				- @lgas.sort{|x,y| y.residential_controlled_load_energy <=> x.residential_controlled_load_energy}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.residential_controlled_load_energy

	.column.span-12.last
		%h2 Total Energy per Resident
		%table
			%thead
				%tr
					%th Local Council
					%th
						Total Energy
						(
						%abbr{:title=>"kilowatt hours"} kWh
						)
						per resident
			%tbody
				- @lgas.sort{|x,y| (y.residential_controlled_load_energy / y.population) <=> (x.residential_controlled_load_energy / x.population)}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.residential_controlled_load_energy / lga.population
	.column.span-12
		%h2 Total Energy per Customer
		%table
			%thead
				%tr
					%th Local Council
					%th
						Total Energy
						(
						%abbr{:title=>"kilowatt hours"} kWh
						)
						per resident
			%tbody
				- @lgas.sort{|x,y| (y.residential_controlled_load_energy / y.residential_customers) <=> (x.residential_controlled_load_energy / x.residential_customers)}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.residential_controlled_load_energy / lga.residential_customers
