.container
  .column.span-24.last
    %h1
      %a{ href: '/energy' } Energy Comparisons
      &rarr; Residential
  .column.span-8
    %h2 Total Energy
    %table
      %thead
        %tr
          %th Local Council
          %th
            %abbr{ title: 'kilowatt hours' } kWh
      %tbody
        - sort_lgas_by(@lgas, :total_residential_energy).each do |lga|
          %tr
            %th
              %a{ href: "/lgas/#{lga.lga_code}" }
                = lga.lga_name
            %td.number
              = commify(lga.total_residential_energy)

  .column.span-8
    %h2 Total Energy per Resident
    %table
      %thead
        %tr
          %th Local Council
          %th
            %abbr{ title: 'kilowatt hours' } kWh
            = '/ resident'
      %tbody
        - sort_lgas_by(@lgas, :total_residential_energy, :population).each do |lga|
          %tr
            %th
              %a{ href: "/lgas/#{lga.lga_code}" }
                = lga.lga_name
            %td.number
              = commify(lga.total_residential_energy / lga.population)
  .column.span-8.last
    %h2 Total Energy per Customer
    %table
      %thead
        %tr
          %th Local Council
          %th
            %abbr{ title: 'kilowatt hours' } kWh
            = '/ Customer'
      %tbody
        - sort_lgas_by(@lgas, :total_residential_energy, :residential_customers).each do |lga|
          %tr
            %th
              %a{ href: "/lgas/#{lga.lga_code}" }
                = lga.lga_name
            %td.number
              = commify(lga.total_residential_energy / lga.residential_customers)
