.container
  .column.span-24.last
    %h1
      %a{ href: '/energy' } Energy Comparisons
      &rarr;
      %a{ href: '/energy/residential' } Residential
      &rarr; Hot Water
  .column.span-8
    %h2 Energy
    %table
      %thead
        %tr
          %th Local Council
          %th
            %abbr{ title: 'kilowatt hours' } kWh
      %tbody
        - sort_lgas_by(@lgas, :residential_controlled_load_energy, false).each do |lga|
          %tr
            %th
              %a{ href: "/lgas/#{lga.lga_code}" }
                = lga.lga_name
            %td.number
              = commify(lga.residential_controlled_load_energy)

  .column.span-8
    %h2 Energy per Resident
    %table
      %thead
        %tr
          %th Local Council
          %th
            %abbr{ title: 'kilowatt hours' } kWh
            = '/ resident'
      %tbody
        - sort_lgas_by(@lgas, :residential_controlled_load_energy, :population).each do |lga|
          %tr
            %th
              %a{ href: "/lgas/#{lga.lga_code}" }
                = lga.lga_name
            %td.number
              = commify(lga.residential_controlled_load_energy / lga.population)
  .column.span-8.last
    %h2 Energy per Customer
    %table
      %thead
        %tr
          %th Local Council
          %th
            %abbr{ title: 'kilowatt hours' } kWh
            = '/ Customer'
      %tbody
        - sort_lgas_by(@lgas, :residential_controlled_load_energy, :residential_customers).each do |lga|
          %tr
            %th
              %a{ href: "/lgas/#{lga.lga_code}" }
                = lga.lga_name
            %td.number
              = commify(lga.residential_controlled_load_energy / lga.residential_customers)
