.container
	.column.span-24.last
		%h1
			%a{:href=>"/energy"} Energy Comparisons
			&rarr; Business
	.column.span-12
		%h2 Total Energy
		%table
			%thead
				%tr
					%th Local Council
					%th
						Total Energy
						(
						%abbr{:title=>"kilowatt hours"} kWh
						)
			%tbody
				- @lgas.sort{|x,y| y.total_business_energy <=> x.total_business_energy}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.total_business_energy

	.column.span-12.last
		%h2 Total Energy per Customer
		%table
			%thead
				%tr
					%th Local Council
					%th
						Total Energy
						(
						%abbr{:title=>"kilowatt hours"} kWh
						)
						per resident
			%tbody
				- @lgas.sort{|x,y| (y.total_business_energy / y.residential_customers) <=> (x.total_business_energy / x.residential_customers)}.each do |lga|
					%tr
						%th
							%a{:href=>"/lgas/#{lga.lga_code}"}
								= lga.lga
						%td.number
							= commify lga.total_business_energy / lga.residential_customers
