.container.head2head
	%h1
		Head to Head &rarr;
		%a{:href=>"/lgas/#{@lga1.lga_code}"}
			= @lga1.lga
		%abbr{:title=>"versus"} v
		%a{:href=>"/lgas/#{@lga2.lga_code}"}
			= @lga2.lga
	.column.span-12
		#lga1.lga
			= partial(:'partials/head2head', :locals => {:lga => @lga1})
			%script{:type=>'text/javascript'}
				= "var lga1 = #{@lga1.to_json}; var map1, bounds1;"
	.column.span-12.last
		#lga2.lga
			= partial(:'partials/head2head', :locals => {:lga => @lga2})
			%script{:type=>'text/javascript'}
				= "var lga2 = #{@lga2.to_json}; var map2, bounds2;"
